<!DOCTYPE html>
<html>
    <head>
        <script src="{{ url_for('static', filename='JS/schedule.js') }}" type="text/javascript" ></script>
        <link href="{{ url_for('static', filename='CSS/schedule.css') }}" rel="stylesheet">
    </head>
    <body>
        <div class="outer">
            <div class="calendar-header">
                <p class="calendar-title">Class Schedule</p>
            </div>
            <table class="calendar-container">
                <tr>
                    <td class="time">Time</td>
                    <td class="days">Monday</td>
                    <td class="days">Tuesday</td>
                    <td class="days">Wednesday</td>
                    <td class="days">Thursday</td>
                    <td class="days">Friday</td>
                </tr>
                <tr>
                    <td class="content">0</td>
                    <td class="content">0</td>
                    <td class="content">0</td>
                    <td class="content">0</td>
                    <td class="content">0</td>
                    <td class="content">0</td>
                </tr>
            </table>
        </div>
        
    </body>
</html>

